.app {
}

.fixed {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.appLogo {
  height: 4rem;
  fill: $text--light;
}

.appHeader {
  color: $text--light;
  margin: auto;
  width: 50vw;
}

.appNav {
  border-left: white 1px solid;
  color: white;
  svg {
    height: 0.8em;
    width: 0.8em;
    fill: $primary;
  }
}

.section {
  min-height: 90vh;
  display: flex;
  padding: 10vh;
  &:nth-child(2n+1) {
    background-color: $secondary--dark;
  }
}

.sectionWrapper {
  margin: auto;
  width: 50vw;
}

.sectionContent {
  border-left: white 1px solid;
  color: white;
  padding: 0 $indent;
}

.sectionHeader {
  color: $primary;
}

.sectionFooter {
  color: $primary;
  font-size: $h2;
}

.experienceList, .projectList {
  padding: 0;
}

.experienceEntry {
  padding: 0 $indent;
  border-left: transparentize(white, 0.5) 1px solid;
}

.skillList {
  border-left: transparentize(white, 0.5) 1px solid;
}

.skillSubset {
  border-left: transparentize(white, 0.7) 1px solid;
  font-size: 0.8em;
}


.h3 {
  font-size: $h3;
  color: $primary--light;
}

.decrease {
  opacity: 0.7;
}